table.spreadsheet {
    border-spacing: 0;
    border-collapse: collapse;
}

td.spreadsheet {
    min-width: 100px;
    border: 1px solid;
}

td.spreadsheet-enter {
    min-width: 100px;
    border: 2px solid;
}

td.sheet-heading, th.sheet-heading {
    min-width: 100px;
    background-color: lightgreen;
    border: 1px solid darkgreen;
}